.password-generator-container {
  background-color: #0b0f2f;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  left: 50%;
  max-width: calc(90% - 40px);
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

h1 {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0 0 10px;
}

.password-generator-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.password-generator-subcontainer > :first-child {
  color: #9193a2;
  font-size: 0.8em;
}

.password-generator-subcontainer > :first-child > :first-child {
  color: white;
}

.password-generator-subcontainer > *:not( :first-child ) {
  align-items: center;
  background-color: #1e223f;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 3.1em;
  justify-content: space-between;
  padding: 0 15px;
  user-select: none;
}
